$dark-bg: #1f2937;
$tile-bg-alt: #171716;
$room-bg: #181a1c;
$field-bg: #1a222e;
$color-active: #373734;
$speaking-color: #059669;
$field-border-color: #253141;
$field-focus-color: #2e3d52;
$button-bg-color: #5b5df1;
$button-hover-color: #5154f0;
$light-text-color: #f2f2f2;
$dark-text-color: #292929;
$error-color: #b95e5b;
$error-bg :#f5d1d1;
$font-sm: 14px;
$font-md: 16.75px;
$font-lg: 1.125rem;
$menu-icon-height: 20px;
$speaker-tile-height: 160px;
$speaker-tile-right: 3.5px;
$listener-tile-right: 2px;
$speaker-tile-top: 2.5px;
$listener-tile-top: 0px;